@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  display: grid;
  align-items: center;
  margin-top: 8%;
  margin-left: 15%;
}


.labelSlider{
  color: aqua;
}
#sliderAmount{
  height: 50px;
  width: 400px;
  margin-left: -25px;
  margin-top: 50px;
}

#sliderMonth{
  height: 50px;
  width: 400px;
}

#divCardRight{
  display: grid;
  margin-left: 70%;
  font-size: larger;
  color: rgb(0, 0, 0);
}



#cardstuffed{
  color: black;
  font-weight: bold;
  padding: 2px;
  display: grid;
  align-items: center;
  margin: 6px;

}
/* Llevamos los numeros a los extremos del slider */
#StaticCount2{
  display: grid;
  margin-left: 400px;
}
#StaticCount{
  display: grid;
  margin-left: -80%;
  padding-right: -10px;
}